.thought {
    display: flex;
    background-color: bisque;
    width: 100%;
    padding: 0.75rem;
    border: 2px solid gray;
    border-radius: 0.5rem;
    box-shadow: 5px 5px;
}

.thought > .thought-delete-button {
    margin-left: auto;
    background-color: transparent;
    border: none;
    font-size: 14pt;
    cursor: pointer;
}

.thought p {
    font-size: 14pt;
}